<div class="card">
    <div class="card-body">

        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, 
        porro. Reiciendis, explicabo magnam enim, nesciunt debitis perferendis eligendi veniam amet sint modi praesentium fuga nam odit atque, dicta vero ipsa!   
        </p>

    </div>
</div>